@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: white;
    }

    .hamburger {
        position: absolute;
    }
}